

/*Page About CSS*/
body {
    font-size: 18px;
}

.text_font {
    font-family: "Open Sans";
}

.heading_font {
    font-family: "Playfair Display";
}

.heading2_style {
    font-size: 45px;
    font-family: 86px;
    letter-spacing: 0;
    color: #343434;
}

.btn {
    border-radius: 96px;
}

.btn.btn-dark {
    background: #343434 0% 0% no-repeat padding-box;
    border: none;
}

.btn.btn-dark {
    background: #343434 0% 0% no-repeat padding-box;
    border: none;
}

.btn.btn-lg {
    padding: 20px 40px;
}

/*About Cards*/
.about-cards .card .card-title {
    font-size: 35px;
    line-height: 66px;
    font-weight: bold;
}

.about-cards .card .card-text {
    line-height: 39px;
    color: #343434;
}

.about-cards .card .card-body {
    padding: 0 15%;
}

/*Team Cards*/
.team-cards .card .card-title {
    font-size: 30px;
    line-height: 41px;
    color: #343434;  
    font-weight: bold;
}

.team-cards .card .card-text {
    line-height: 24px;
    color: #40AAC0;
}

/*Join team*/
section.join-team {
    background-image: url('../images/join-team-bg.png');
    background-position: center center;
    background-size: 100%;
}

.join-team .mask_b {
    position: absolute;
    z-index: 0;
    background: rgba(0,0,0,.8);
}

@media (min-width: 1300px) {
    .container {
        max-width: 90%;
    }
}