/*Custom Styles*/
*{
    margin: 0;
    padding: 0;
}

.section-1 {
    /* Layout properties */
    margin-top: 0px;
    margin-left: 0px;
    width: 1920px;
    height: 1080px;
    background: transparent linear-gradient(90deg, #4BAEC3 0%, #00518F 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.section-1 > .row >.logo {
    margin-top: 20px;
    margin-left: 140px;
    width: 240px;
    height: 58px;
    background: transparent url('../images/Group\ 499.svg') 0% 0% no-repeat padding-box; 
    opacity: 1;
}
.dot-menu {
    position: absolute;
    margin-top: 20px;
    margin-left: 1750px;
    width: 30px;
    height: 29px;   
    background: transparent url('../images/004-dots-menu.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#contetn-left-h1{
    margin-top: 284px;
    margin-left: 140px;
    width: 400px;
    height: 252px;

    text-align: left;
    font: Regular 60px/86px Playfair Display;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    
}
#content-left-p {
    /* margin-top: 576px; */
    margin-left: 140px; 
    width: 523px;
    height: 172px; 

    text-align: left;
    font: Regular 20px/36px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    
}
.section-1 > .content > .left > button {
    margin-top: 40px;
    margin-left: 140px;
    width: 230px;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 96px;
    opacity: 1;
}

.content-right-h1{
   
    
}
#backdrop{
    z-index: 1; 
    position: absolute; 
    
    margin-top: 175px;
   
    width: 1266px;
    height: 800px;
    text-align: left;
    font: Regular 190px/273px Playfair Display;
    letter-spacing: 0;
    color: #3897B6;
    opacity: 0.9;
}

#hex-content{
    z-index: 2;
    position: absolute; 
    top: 0px; left: 0px; 
    /* background-image:url(/curtain.png); */
    /* background-position:100px 200px;  */
    width: 1266px;
    height: 800px;
}

.hex {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;

}
.hex .left {
    float: left;
    width: 0;
    border-right: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: #6C6;
}
.hex .right {
    float: left;
    width: 0;
    border-left: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 53px;
}

#hexagon-1{
    margin-top: 232px;
    margin-left: 935px;
    width: 330px;
    height: 248px;
    color: #fff;
    background: transparent url('../images/0e22f1562284b9c081be3a87527d6c70.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.top_banner{
    background: transparent linear-gradient(90deg, #0FE192 0%, #03740B 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height: 342px;
}




.img_section{
    background-size: contain !important;
    height: 357px;
    padding: 22px;
}
.img_section.product_eng{
    background: transparent url(../images/christopher-gower-m_HRfLhgABo-unsplash.png) 0% 0% no-repeat;
}
.img_section.mobility{
    background: transparent url(../images/caspar-camille-rubin-89xuP-XmyrA-unsplash.png) 0% 0% no-repeat;
}
.img_section.devops{
    background: transparent url(../images/mario-gogh-VBLHICVh-lI-unsplash.png) 0% 0% no-repeat;
}
.img_section.aiMl{
    background: transparent url(../images/mahdis-mousavi-hJ5uMIRNg5k-unsplash.png) 0% 0% no-repeat;
}
.img_section.blockchain{
    
    background: transparent url(../images/terry-p60CjQTbPtw-unsplash.png) 0% 0% no-repeat;
}
.img_section.iot{
    background: transparent url(../images/nasa-Q1p7bh3SHj8-unsplash.png) 0% 0% no-repeat;
}

.info_section{
    width: 360px;
    height: 313px;
    padding: 18px 24px;
    border-radius: 10px;
    display: block;
    color: #FFFFFF;
}
.info_section .heading{
    font-family:Playfair Display;
    font-weight: 700;
    font-size: 24px;
}
.info_section .flat_ul{
    padding: 0 22px;
}
.info_section .flat_ul li{
    margin:5px 0;
    font-size: 14px;
}
.mt-4{
    margin-top:40px;
}


.info_section.product_eng{
    background: transparent linear-gradient(90deg, #CEB200 0%, #D97400 100%) 0% 0% no-repeat;
    float: right;
}

.info_section.mobility{
    background: transparent linear-gradient(90deg, #0FE192 0%, #03740B 100%) 0% 0% no-repeat padding-box;
    float: left;
}
.info_section.blockchain{
    background: transparent linear-gradient(90deg, #C50000 0%, #8F0000 100%) 0% 0% no-repeat padding-box;
    float: left;
}
.info_section.devops{
    background: transparent linear-gradient(90deg, #4BAEC3 0%, #00518F 100%) 0% 0% no-repeat padding-box;
    float: right;
}
.info_section.aiMl{
    background: transparent linear-gradient(220deg, #9D50BB 0%, #5207C8 100%) 0% 0% no-repeat padding-box;
    float: right;
}
.info_section.iot{
    background: transparent linear-gradient(140deg, #0B42F5 0%, #34B3FF 100%) 0% 0% no-repeat padding-box;
    float: left;
}



